<div class="container">
    <h1>{{ title }}</h1>
    <nav>
        <a routerLink="/template-driven-forms" routerLinkActive="active">Template-driven Form</a>
        <a routerLink="/template-driven-forms-validation" routerLinkActive="active">Template-driven Form with Validation</a>
        <a routerLink="/reactive-forms" routerLinkActive="active">Reactive Form</a>
        <a routerLink="/reactive-forms-validation" routerLinkActive="active">Reactive Form with Validation</a>
    </nav>
    <router-outlet></router-outlet>
 </div>